:root{
    --greeting-base-color: blue;
    --greeting-evening-color-1 : linear-gradient(225deg, #ff5ea7 36.04%, #010fcb 88.83%, #ff6530 220.3%);
    --greeting-evening-color-2 : linear-gradient(90deg,#f56772,#ba6bff);
    --greeting-morning-color-2 : white;
    --date-time-title-light-theme : black;
    --font-size-title-greeting : 56px;
    --font-size-title-greeting-sub : 24px;
}

.jumbotron-head {
    background: rgba(240, 240, 240, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    /*backdrop-filter: saturate(200%) blur(20px);
    -webkit-backdrop-filter: saturate(200%) blur(20px);*/
    backdrop-filter: saturate(220%);
    -webkit-backdrop-filter: saturate(220%);
    border: none;
    border-radius: 18px;
    padding: 3em !important;
    /* min-height: 600px; */
    height: 100vh;
    margin: auto;
    /* margin-bottom: 2rem; */
}

.greet-title {
    font-size: var(--font-size-title-greeting);    
    color: var(--greeting-base-color);
    background: var(--greeting-evening-color-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    font-weight: 500;
    text-align: left;
    
}


.day-time-title {
    font-size: var(--font-size-title-greeting-sub);
    color: var(--date-time-title-light-theme);
    font-weight: 500;
    text-align: left
}


@media only screen and (max-width: 600px) {
    :root{
        --font-size-title-greeting : 56px;
        --font-size-title-greeting-sub : 24px;
    } 
    .greet-title, .day-time-title{
        text-align: center;
    }

}

@media only screen and (max-width: 768px) { 
    :root{
        --font-size-title-greeting : 64px;
        --font-size-title-greeting-sub : 30px;
    }    
 }

/* @media only screen and (width > 768px) and (width <= 1250px) { */
@media only screen and (width > 768px) {    
    :root{
        --font-size-title-greeting : 84px;
        --font-size-title-greeting-sub : 40px;
    }
 }