:root {
  --font-color-primary: rgb(249, 249, 249);
  --font-color-secondary: rgb(193, 193, 193);
  --font-color-tertiary: rgb(123, 123, 123);
  --nav-item-link: rgb(17, 17, 17);
  --nav-item-link: rgb(0, 0, 0);
  --bg-base-color-dark : black;
  /* --bg-base-color-light : rgba(240, 240, 240, 0.2); */
  --bg-base-color-light : #f2f2f2;
}

body[data-color-scheme='dark'] main {
  --font-color-primary: rgb(14, 14, 14);
  --font-color-secondary: rgb(87, 87, 87);
  --font-color-tertiary: rgb(135, 135, 135);
  --nav-item-link: rgb(221, 221, 221);
  --nav-item-link-active: rgb(255, 255, 255);  
}

body {
    margin: 0;
    background: var(--bg-base-color-dark);    
    font-family: 'Roboto',sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: -0.015em;
    line-height: 1.1;
    overflow-wrap: break-word;
}

a {
  color: #06c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.card-glass {
  background: rgba( 255, 255, 255, 0.95 );
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  /*backdrop-filter: saturate(280%) blur(20px);
  -webkit-backdrop-filter: saturate(280%) blur(20px);*/
  border: none;
  border-radius: 15px;
  padding: 3rem !important;
  display: inline-block; 
  min-height: 300px;
  margin-bottom: 2rem;
}

.card-glass-1{
  background: rgba(199, 199, 199, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur( 4.5px );
  -webkit-backdrop-filter: blur( 4.5px );
  border: none;
  border-radius: 15px;
  padding: 3rem !important;
  display: inline-block; 
  min-height: 300px;
  margin-bottom: 2rem;
}